/* detailed upcoming event */

#title-section {
    background: url("../img/taxSeminar2018Cover.jpg") bottom center fixed;
    background-size: cover;
    text-align: center;
    box-shadow: inset 0 0 0 2000px rgba(54, 92, 180, 0.3);
    padding: 10vh 0;
}

#body-section {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #7481A4;
    color: black;
}

#title-section .title {
    font-size: 7vw;
    text-align: center;
    margin: 1vw 0;
    color: white;
}

#body-section .label {
    font-size: 3.5vw;
    font-weight: normal;
    text-align: center;
    color: inherit;
}

#body-section .paragraph-center {
    font-size: 1.76vw;
    margin: 0.5vw 15vw;
    text-align: center;
}

#body-section .buttonCenter{
    margin-top: 5vh;
    text-align:center;
}

#body-section .centerPicture{
    margin: 0 auto;
    width: 60vw;
    text-align:center;
}

#body-section .btn-lg2,
.btn-group-lg > .btn {
  padding: .9vw 1.6vw;
  font-size: 1.3vw;
  line-height: 1.3333333;
  border-radius: 6px;
}

#body-section .th {
    width:50vw;
}
