/* detailed projects */

#detailed-projects {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #3F495C;
    color: white;
    padding-top: 5vh;
}

#detailed-projects .title {
    font-size: 7vw;
    text-align: center;
    margin: 1vw 0;
/*    vertical-align: text-top;*/
}

#detailed-projects .label {
    font-size: 3.5vw;
    font-weight: normal;
    text-align: center;
}

#detailed-projects .paragraph-center {
    font-size: 2vw;
    margin: 0.5vw 3vw;
    text-align: center;
}

#detailed-projects .buttonCenter{
    margin-top: 5vh;
    text-align:center;
}

#detailed-projects .centerPicture{
    margin:0 auto;
    width: 60vw;
    text-align:center;
}

#detailed-projects .btn-lg2,
.btn-group-lg > .btn {
  padding: .9vw 1.6vw;
  font-size: 1.3vw;
  line-height: 1.3333333;
  border-radius: 6px;
}

#detailed-projects .th {
    width:50vw;
}
