:root {
    --factor: 0.45vw;
}

/* nav bar */

.nav-bar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    right: 0px;
}

.nav-bar a {
    float: right;
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px 30px;
}

.nav-bar a:hover {
    color: #03C4EB;
}

/* first */

#first {
    display: table;
    width: 100%;
    height: calc(110 * var(--factor));
    background: url("../img/firstImage.jpg") center;
    background-size: cover;
    text-align: center;
    line-height: calc(14 * var(--factor));
}

#first .title {
    font-size: calc(14 * var(--factor));
    color: white;
    display: inline-block;
    margin-top: calc(10 * var(--factor));
    width: 100%;
}

#first .title2 {
    font-size: calc(14 * var(--factor));
    color: white;
    display: inline-block;
    width: 100%;
}

#first .slogan {
    font-size: calc(7 * var(--factor));
    color: white;
    display: inline-block;
    margin-top: calc(4.5 * var(--factor));
}

#first .btn-get-started {
    background: #03C4EB;
    border: calc(0.5 * var(--factor)) solid #03C4EB;
    color: #fff;
    margin-top: calc(3 * var(--factor));
    margin-bottom: calc(7 * var(--factor));
}

#first .btn-get-started:hover {
    background: none;
    border: calc(0.5 * var(--factor)) solid #fff;
    color: #fff;
}

#first .actions a {
    font-weight: bold;
    font-size: calc(7 * var(--factor));
    display: inline-block;
    border-radius: 50%;
    width: calc(8 * var(--factor));
    height: calc(8 * var(--factor));
    transition: 0.4s;
    text-decoration: none;
    line-height: calc(6 * var(--factor));
}

/* who we are */

#who-we-are {
    background-color: #E0F6F9;
    text-align: center;
    padding-top: calc(5 * var(--factor));
}

#who-we-are .title {
    font-size: calc(16 * var(--factor));
}

#who-we-are .paragraph {
    font-size: calc(6 * var(--factor));
    margin: 0 calc(30 * var(--factor));
    padding-bottom: calc(12 * var(--factor));
}

/* what we do */

#what-we-do {
    display: table;
    width: 100%;
    height: 0px;
    background-color: #425661;
    color: white;
    padding-top: calc(5 * var(--factor));
}

#what-we-do .title {
    font-size: calc(16 * var(--factor));
    text-align: center;
    margin: calc(3 * var(--factor)) 0;
}

#what-we-do .label {
    font-size: calc(11 * var(--factor));
    font-weight: normal;
}

#what-we-do .paragraph-left {
    font-size: calc(4 * var(--factor));
    margin: calc(6 * var(--factor));
    text-align: left;
}

#what-we-do .paragraph-right {
    font-size: calc(4 * var(--factor));
    margin: calc(6 * var(--factor));
    text-align: right;
}
