#login {
    display: table;
    width: 100%;
    height: calc(100vh);
    background: #C8D8F6;
    text-align: center;
    color: black;
    font-family: "Futura";
}

#login .title {
    font-size: 6vw;
}

#login .text {
    font-size: 3vw;
}

#login .textbox {
    font-size: 2.5vw;
    margin: 1.5vw 0vw;
}
