/* past events */

#past-events {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #425661;
    color: white;
    padding-top: 5vh;
}

#past-events .title {
    font-size: 7vw;
    text-align: center;
    margin: 1vw 0;
}

#past-events .label {
    font-size: 4vw;
    font-weight: normal;
}

#past-events .paragraph-left {
    font-size: 1.76vw;
    margin: 0.5vw 3vw;
    text-align: left;
/*    margin-bottom:800px;*/
}

#past-events .paragraph-right {
    font-size: 1.76vw;
    margin: 0.5vw 3vw;
    text-align: right;
<<<<<<< HEAD
    
}
=======
}
>>>>>>> 402f6ee230d52e7386e335486ba43cd5f6e9f0a6
