#register {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #B2BEC6;
    color: black;
    text-align: center;
    font-family: "Futura";
}

#register .title {
    font-size: 4vw;
    margin-top: 1.5vw;
}

#register .textbox {
    margin-top: 1.5vw;
    font-size: 2vw;
}

#register .done {
    margin-top: 1vw;
    font-size: 2vw;
}

#register .radio-class {
    margin-top: 1vw;
    font-size: 1.5vw;
}

#register .paragraph {
    font-size: 3vw;
    margin-top: 1vw;
}
