#registration {
    display: table;
    width: 100%;
    height: calc(100vh);
    background: #3A4861;
    text-align: center;
    color: white;
    font-family: "Futura";
}

#registration .title {
    font-size: 6vw;
}

#registration .text {
    font-size: 3vw;
}

#registration .textbox {
    font-size: 2.5vw;
    margin: 1.5vw 0vw;
    color: #565656;
}
