h1, h2 {
    font-family: "Futura";
    font-weight: 300;
}

.nav-bar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    right: 0px;
}

.nav-bar a {
    float: right;
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px 30px;
}

.nav-bar a:hover {
    color: #03C4EB;
}

#first {
    display: table;
    width: 100%;
    height: calc(100vh);
    background: url("firstImage.jpg") top center fixed;
    background-size: cover;
    text-align: center;
}

#first .title {
    font-size: 98px;
    color: white;
    display: inline-block;
}

#first .slogan {
    font-size: 38px;
    color: white;
    display: inline-block;
}

#first .btn-get-started {
    background: #03C4EB;
    border: 3px solid #03C4EB;
    color: #fff;
}

#first .btn-get-started:hover {
    background: none;
    border: 3px solid #fff;
    color: #fff;
}

#first .actions a {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    font-size: 36px;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.4s;
    margin: auto;
    text-decoration: none;
}

#who-we-are {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #E0F6F9;
    text-align: center;
}

#who-we-are .title {
    font-size: 56px;
}

#who-we-are .paragraph {
    font-size: 27px;
    margin: 0 300px 0 300px;
}

#what-we-do {
    display: table;
    width: 100%;
    height: calc(100vh);
    background-color: #425661;
    color: white;
}

#what-we-do .title {
    font-size: 56px;
    text-align: center;
}

#what-we-do .paragraph-left {
    font-size: 23px;
    margin: 0px 30px;
    text-align: left;
    vertical-align: top;
}

#what-we-do .paragraph-right {
    font-size: 23px;
    margin: 0 30px 0 30px;
    text-align: right;
}

#what-we-do .square-image {
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    width: 49.35vw;
    height: 49.35vw;
}
